body {
    font-family: 'Montserrat', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1,  h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header {
    background: #bbbbbb;
    display: block;
    padding: 20px 0;

}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}


nav {
    position: absolute;
    top: 110px ;
    right: 0 ;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    
}
nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

#banner {
width: 100%;
}

.principal {
    background: #cccccc;
    padding: 30px;
}

.tituloPrincipal {
    padding-left: 20px;
}
.tituloCentralizado {
    text-align: center;
 }

p {
    text-align: center;
}

.missao {
font-size: 20px;
}

em strong {
    color: #ff0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: white;
    padding: 20px;
}


.produtoss {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagemBeneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url(/img/bg.jpg);
    padding: 40px 0;
}


.copyright {
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}

